/*
//-- Viewer MenuBar
*/

.efm__menuBar {
    height: 50px;
    padding: 0 14px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #7a7a7a;
}

.efm__menuBar-dots span {
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 50%;
    margin: 18px 8px 0 0;
    background-color: #dee2e6;
}

.efm__menuBar-media button {
    padding: 0;
    margin: 11px 0 0;
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: #6c757d;
    cursor: pointer;
}

.efm__menuBar-strip--title:focus, .efm__menuBar-strip--title.is-focused {
    border-color: white;
}

.efm__menuBar-media button.active, .efm__menuBar-media button:hover {
    background-color: #dee2e6;
}

.efm__menuBar-strip {
    width: 40%;
    max-width: 400px;
    height: 30px;
    //padding: 4px 4px 0 0;
    padding: 0;
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 0.875rem;
}

.efm__menuBar-strip.show {
    z-index: 5;
}

.efm__menuBar-strip--title {
    position: relative;
    //display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 22px;
}

.efm__menuBar-strip--title .icon{
    top: 3px;
    right: .6rem;
}

.efm__menuBar-strip--loading {
    display: none;
    position: absolute;
    left: 5px;
    top: 8px;
    width: 14px;
}

.efm__menuBar-strip .mdi-menu-down {
    //position: absolute;
    //right: 0;
    //top: 0;
}

.efm__menuBar-strip.show .mdi-menu-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 2px;
}

.efm__menuBar-strip .dropdown-menu {
    font-size: 1rem;
    width: 100%;
    margin: 8px 0 0;
    text-align: left;
    color: #4a4a4a;
}

.efm__menuBar-strip .dropdown-item {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 32px;
    text-align: inherit;
}

.efm__menuBar-strip.dropdown .mdi {
    font-size: 1.25rem;
}

.efm__menuBar-strip .dropdown-edit .mdi {
    font-size: inherit;
}

.efm__menuBar-strip .dropdown-item .dropdown-edit {
    display: none;
    position: absolute;
    top: 4px;
    right: 8px;
}

.efm__menuBar-strip .dropdown-item:hover .dropdown-edit {
    display: inline-block;
}

.efm__menuBar-strip .dropdown-item:active {
    background-color: inherit;
    //color: inherit;
}

.efm__menuBar-strip .dropdown-new {
    padding: 4px 5px;
    background: #f8f9fa;
}

.efm__menuBar-strip .dropdown-new input {
    width: calc(100% - 60px);
    padding: 0 10px 0 12px;
    margin-right: 6px;
    border: 0;
    background: #f8f9fa;
}

.efm__menuBar-strip .dropdown-new input:focus {
    outline: none;
}