// Name:            Viewer
// Description:     Component to create viewer
//
// Component:       `efm-viewer`
//
// Sub-objects:     ``
//==========================================================

// Variables
// =========================================================

// Viewer Screen
.efm__media {
  overflow-x: auto;
  scrollbar-width: none;  // Hide horizontal scrollbar in Firefox
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    max-width: none;
  }
}

.efm__media-collection {
  display: flex;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Draggable media

.efm__media-item {
  //flex: 0 0 auto; /* sizes the item according to declared width/height properties, i.e. dimensions behave normally and not through flexbox */
}

.efm__media-item {
  flex: 0 0 auto;
  //display: inline-block;
  //white-space: nowrap;

  .efm__content {
    //display: inline;
  }
}


// Viewer Controls
.efm__controls {
  background-color: #040404;
  color: #ffffff;
  margin-top: 15px;

  .efm__timeline {
    //margin: 0 auto;
    output, label {
      padding: 0 0;
    }
    .efm__seek-bar {
      //margin: 0 10px;
    }
    fieldset { border: inherit; }
  }

  .efm__timer {
    font-size: .75em;
    font-weight: bold;
  }

  .efm__controlBar {
    text-align: center;
    * {
      background-color: $black;
      border: none;
      color: #ffffff;
      vertical-align: middle;
      &:first-child {
        
      }
    }
    .mdi { font-size: 2rem; }
    .efm__timer { margin-left: 10px; }
    .efm__group:last-child { text-align: left; }
  }


// https://davidwalsh.name/flexbox-layouts
/*
.row {
    display: flex;
  }
  .column {
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  .row .column:first-of-type {
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 22px;
  }
  .row:nth-of-type(1) .column:nth-of-type(2) {
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: 66px;
  }
*/

}

// Timeline - Seekbar
.efm__timeline {
  input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    background: inherit;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid #040404;
    /*required for proper track sizing in FF*/
    width: 100%;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
  }
  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #888;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
  }
}
