/*
//-- Margin Utility Classes
//   https://github.com/turretcss/turretcss/blob/master/turret/utility/margin.css
*/

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}