/*
//-- Position Utility Classes
//   https://github.com/turretcss/turretcss/blob/master/turret/utility/position.css
*/

.absolute,
.position-absolute {
  position: absolute;
}

.position-top-right {
    top: 0;
    right: 0;
  }